* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(150deg, #fff 0%, #fff4f4 84.51%);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7.1rem;

  .logo {
    width: 10rem;
    margin: 3.2rem;
  }

  .main {
    text-align: center;
    padding: 0 3.2rem;
    margin-top: 6.4rem;

    .title {
      font-size: 4rem;
      text-transform: uppercase;
      line-height: 4.2rem;
      letter-spacing: 10.825px;
      font-weight: 600;
      color: #423a3a;

      span {
        font-weight: 300;
        color: #ce9898;
      }
    }

    .text {
      color: #ce9898;
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-top: 1.6rem;
      margin-bottom: 3.2rem;
    }
  }

  .form {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    position: relative;

    .input {
      border-radius: 9999px;
      height: 4.8rem;
      width: 100%;
      border: 1px solid #ce9898;
      padding-left: 2.4rem;
      padding-right: 10rem;

      &::placeholder {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 2.8rem;
      }
    }

    .error-icon {
      visibility: hidden;
      position: absolute;
      right: 7.2rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .submit {
      border: none;
      width: 6.4rem;
      height: 4.8rem;
      border-radius: 9999px;
      position: absolute;
      right: 0;
      background: linear-gradient(to right, #f5b1b2, #f19898);
      box-shadow: 0 10px 30px -10px #ce9898;
      cursor: pointer;
    }
  }

  .error-text {
    visibility: hidden;
    color: #f96464;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0.8rem;
    margin-left: 5.6rem;
  }
}
